fastapi
fastapi-cache2
httpx
jinja2
loguru
Pillow
pydantic
python-multipart
PyYAML
requests
uvicorn
whatsapp-api-client-python
whatsapp-chatbot-python
tf-keras
deepface
opencv-python
numpy